:root {
  --bg-colour: white;
  --banner-bg-colour: grey;
  --heading-text: #55a0f6;
  --text-colour: #070707;
  --border-colour: black;
  font-size: 18px;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg-colour);
}

#root {
  color: var(--text-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

#nav {
  position: sticky;
  width: 100%;
  height:60px;
}

#searchForm {
  border: 3px solid white;
  width: 100%;
  text-align: center;
  background-color: black;
}


#form-search {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid white;

  width: 75%;
  height: 30px;
  font-size: 25px;
  border-radius: 10px;
}

#username {
  width: 200px;
  padding: 5px;
  margin: 0 1rem;
  background-color: var(--banner-bg-colour);
  color: var(--text-colour);
  border-color: var(--border-colour);
  border-radius: 5px;
}

#button {
  width: 70px;
  background-color: var(--banner-bg-colour);
  color: var(--heading-text);
  border-color: var(--border-colour);
  border-radius: 1rem;
  padding: 7px;
}

#button:hover {
  cursor: pointer;
  background-color: var(--border-colour);
}

.show {
  display: flex;
}
.hide {
  display: none;
}

#repo-container {
  border-bottom: 2px solid var(--border-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

#repo-container:last-child {
  border-bottom: none;
}

/* #repo-container {
  margin: 0 auto;
  color: var(--heading-text);
  font-weight: 600;
} */

#repo-container h1:hover {
  cursor: pointer;
}

#repodata-container {
  width: 90%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

#repodata-container li {
  margin: 0 1em;
}

#loading {
  position: absolute;
  z-index: 1000;
  top: 300px;
}

#img{
  display: table;
  margin: 0 auto;
}

#modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  }
  
  .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 9999; /* Sit on top */
  }
